<!--The whole content below can be removed with the new code.-->
<div class="container">


<!--<md-toolbar color="primary" >-->


<!--<md-toolbar-row >-->

  <!--<span [@flyInOut]="state" class="titre">adnotatio</span>-->
  <!--<span class="example-spacer"> </span>-->
  <!--<div>Bonjour {{ (user | async)?.displayName}}</div>-->
  <!--<button md-mini-fab [mdMenuTriggerFor]="menu" class="toolbar_menu_button"><i class="material-icons">more_vert</i></button>-->
  <!--<md-menu #menu="mdMenu">-->
    <!--<button md-menu-item (click)="logOut()">-->
      <!--<span>Déconnecter</span>-->
    <!--</button>-->
    <!--<button md-menu-item>-->
      <!--<span>Communiquer avec nous</span>-->
    <!--</button>-->
  <!--</md-menu>-->

<!--</md-toolbar-row>-->
<!--</md-toolbar>-->

<!--<md-tab-group color="primary" backgroundColor="primary" (selectChange)=" changeState($event)">-->

  <!--<md-tab label="Aperçu" >-->
    <!--<app-apercu class='enfants'></app-apercu>-->
  <!--</md-tab>-->
  <!--<md-tab label="Identification">-->
    <!--<app-login (_isloggedIn)="_isloggedIn($event)" *ngIf="!logged"></app-login>-->
    <!--<app-home class='enfants' *ngIf="logged"></app-home>-->
  <!--</md-tab>-->
  <!--<md-tab label="Administrateur" *ngIf="estUnAdministrateur">-->
<!--<app-administrateur class='enfants' [editeurList]="editeurList"></app-administrateur>-->

  <!--</md-tab>-->
<!--</md-tab-group>-->



<!--<button (click)="login()" routerLink="./home/home" routerLinkActive="active">Login</button>-->
<!--<button routerLink="/login" (click)="login()">Login</button>-->
<!--<button (click)="logout()">Logout</button>-->


</div>
<router-outlet></router-outlet>

