<div class="container_apercu">
  <md-grid-list cols="9" rowHeight="600px">
    <md-grid-tile colspan="1"></md-grid-tile>
    <md-grid-tile colspan="3">
<div class="svg_logo">

  <app-svg-text class="app-svg-text"></app-svg-text>
  <svg class="titre_svg">
    <g>
      <text x="50" y="150" class="titre-uqo">
        UQO
      </text>
    </g>
    <g>
      <text x="230" y="200" class="titre-uqo" class="sous-titre_svg">
        Inf-1583
      </text>
    </g>
    <g class="svg-groupe">
      <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 932 224"><defs><style>.cls-1{font-size:100px;fill:#ffd600;font-family:SegoeScript, Segoe Script;}.cls-2{letter-spacing:0.07em;}</style></defs><title>groupe</title><g id="Calque_2" data-name="Calque 2"><g id="Calque_1-2" data-name="Calque 1"><text class="cls-1" transform="translate(400 10)">gr<tspan class="cls-2" x="103.17" y="0">.</tspan><tspan x="135.25" y="0">02</tspan></text></g></g></svg>
    </g>
  </svg>
</div>
    </md-grid-tile>
    <md-grid-tile colspan="1"></md-grid-tile>
<md-grid-tile colspan="3">

  <md-card  class="view_card">
    <md-card-header >
      <md-card-title>Développement des systèmes informatiques</md-card-title>
      <md-card-subtitle>Université du Québec en Outaouais</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <md-list>
        <md-list-item class="titre-content-card">
      <h3>Introduction</h3>
        </md-list-item>
          <md-list-item class="titre-content-card">
      <p>
        Dans le cadre du cours de développement des systèmes informatiques, Notre équipe a reçu le mandat de conceptualiser et développer un programme web qui permet d'annoter des fichier textes. Ce cahier des charges présentera la structure et la répartition des tâches de ce projet pour notre équipe.
      </p>
        </md-list-item>
        <md-list-item class="titre-content-card">
      <h3>Contexte</h3>
        </md-list-item>
          <md-list-item class="titre-content-card2">
      <p>
        Le but du programme est de prendre en entrée un fichier texte (.txt) et d'ajouter des annotations personnalisées. Lorsqu'un texte est annoté, un fichier XML est produit contenant les annotations. Le logiciel peut prendre en entrée un fichier déjà annoté (XML) et permet d'ajouter/modifier/supprimer des annotations. Le programme possède une structure par projet, c'est-à-dire que chaque projet permet d'avoir ses documents propres à lui. Les styles d'annotations peuvent varier par projet.
      </p>
          </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
    </md-grid-tile>
</md-grid-list>

</div>


